/.idea
/venv
/dist
/result
*.tmp.*
__pycache__
*.egg-info
/.direnv
.envrc
.pdm-python
.pdm-build
/target

# Runtime data
tg_searcher_data/
*.session

# Actual config (keep .example)
searcher.yaml
!searcher.yaml.example
